/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Jost&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap';

$font-family-sans-serif: 'Jost', sans-serif;
$font-family: 'Source Code Pro', monospace;


//
// Color system
//

$casi-blanco: #fdfcfb !default;
$morado: #88398A !default;
$calipso: #20B2AA !default;
$rosa: #E58D7D !default;



/*-- scss:rules --*/

/* colores */


.reveal .fondocalipso {
  background-color: $calipso;
  color: $casi-blanco;
}

.reveal .blanquicalipso {
  background-color: $casi-blanco;
  color: $calipso;
}


/* alineación */

.reveal .centrado {
  text-align: center;
}

.reveal .derecha {
  text-align: right;
}

/* cosas de las fuentes */


.ultra-grande {
  font-size: 3em;
}

.mas-grande {
  font-size: 2em;
}

.grande {
  font-size: 1.5em;
}

.mediano {
  font-size: 1.2em;
}

.pequenio {
  font-size: 0.75em;
}

.micro {
  font-size: 0.5em;
}

.codigo {
  font-family: "Source Code Pro";
}

.rosa {
  color: $rosa;
  font-weight: bold;
}

.calipso {
  color: $calipso;
  font-weight: bold;
}

.calipso-claro {
  color: #a5e0dd;
  font-weight: bold;
}
